{#=====================================================
  Base template
  - Used as the basis of all pages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Messaging App {% block title %}{% endblock %}</title>

    <link rel="icon" href="/static/images/icon.svg">

    <script src="/static/js/utils.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/messages.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <header>
        <a href="/">
            <i data-lucide="messages-square"></i>
        </a>
        <h1>Messaging App</h1>

        

        <nav>
            {% if session.logged_in%}
                <p>Welcome, {{ session["user"]["forename"] }}</p>
                <a href="/user/logout"><i data-lucide="log_out"></i></a>
                <a href="/messages"><i data-lucide="message-square-text"></i></a>              
            {% else%}
                <a href="/user/new">Signup</a>
                <a href="/user/login">Login</a>
            {% endif %}         

        </nav>
    </header>

    {# Show flash messages from any previous events #}
    {% include "partials/messages.jinja" %}

    <main>

        {% block content %}
        {% endblock %}

    </main>

</body>

<script>
    lucide.createIcons();
</script>

</html>

