{#=====================================================
  Messages edit page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h2>Edit Message</h2>

    

{% endblock %}