{#=====================================================
  Messages display page
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block content %}

    <h2>Messages</h2>

    
    <section id="user-messages">
        {% for message in messages%}
            <article class="user-message">
                <h3>{{message.title}}</h3>
                <p>{{message.body}}</p>
                <p>Posted By: {{message.posted_by}}</p>


                {% for reply in replies %}
                    {% if reply.message_id==message.id%}
                    <section>
                        <p>{{reply.body}}</p>
                        <p><strong>—{{reply.posted_by}}</strong></p>

                        {% if reply.posted_by==session["user"]["username"] or session["user"]["is_admin"]%}
                            <a href="/reply/delete/{{reply.id}}"><button><i data-lucide="trash"></i></button></a>    
                        {% endif %}
                        
                    </section>
                    {% endif %}
                {% endfor %}




                {% if message.posted_by==session["user"]["username"] or session["user"]["is_admin"]%}
                <a href="/messages/edit/{{message.id}}"><button>Edit</button></a>
                {% endif%}  
                <a href="/messages/edit/{{message.id}}"><button>Edit</button></a>
                



            </article>
        {% else %}
            <h3>No messages!</h3>
        {% endfor %}
    </section>

    <a href="/messages/new"><button><i data-lucide="message-square-plus"></i>New Message</button></a>
    
{% endblock %}