/*===========================================================
  APP NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {

    --base-col:         rgb(56, 132, 142);
    --accent-col:       rgb(112, 112, 53);


    --base-col-lighter: color-mix(in srgb, var(--base-col), #fff 70%);
    --base-col-light:  color-mix(in srgb, var(--base-col), #fff 20%);
    --base-col-dark:  color-mix(in srgb, var(--base-col), #000 20%);
    --base-col-darker:  color-mix(in srgb, var(--base-col), #000 50%);


    --text-col:         #111;
    --text-col-inv:     #fff;


    --page-bg: var(--base-col-lighter);
    --panel-bg:var(--base-col-light);



    --border-col:      var(--base-col-dark);
    --border-radius:   0.5rem;

    --link-col:         var(--accent-col);
    --button-bg:        var(--accent-col);

    --padding: 1rem;
    --padding-sm: 0.5rem;
    --gap: 1rem;

    --content-width: 60rem;

}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--page-bg);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: var(--content-width);
    margin-inline: auto;
    padding: var(--padding);
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: var(--gap);
    align-items: center;
    padding: var(--padding);

    .logo {
        width: 2rem;
        height: 2rem;
    }

    h1 {
        font-size: 1.5rem;
        flex: 1;
    }

    nav {
        display: flex;
        gap: var(--gap);

        a {
            color: var(--link-col);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h1.welcome {
    font-size: 5rem;
    text-align: center;
    margin-block: 5rem;
}


main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}

/* Forms           -----------------------------------------------*/


form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--gap);
    width: 100%;
    max-width: 0.5*var(--content-width);
    margin-inline: auto;
    padding: var(--padding);

    background-color: var(--panel-bg);
    border: 1px solid --border-col;
    border-radius: var(--border-radius);
    box-shadow: var(--base-col-darker);

    label {
        width: 100%;

        input {
            width: 100%;
            border-radius: var(--border-radius);
            padding: 0.25rem 0.5rem;
        }
    }

}

/* Messages List --------------------------------------------------*/

#user-messages {
    display: block;
    gap: var(--gap);

    grid-template-columns: 1fr;

    @media (width >= 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width >= 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .user-message {
        margin: var(--padding-sm);
        padding: var(--padding);
        gap: var(--gap);

        background-color: var(--back-col-dark);
        border: 2px solid var(--border-col);
        border-radius: var(--border-radius);

        h3 {
            color: var(--accent-col);
        }

        section {
            background-color: var(--base-col-light);
            border-radius: var(--border-radius);
            border: 2px solid var(--border-col);
            gap: var(--gap);
            margin: var(--padding-sm);
            padding: var(--padding);

        }
    }
}


/* Buttons --------------------------------------------------*/

 button {
    background-color: var(--accent-col);
    color: var(--text-col-inv);
    border-radius: var(--border-radius);
    border: 2px solid var(--border-col);

    padding: 0.25rem 0.5rem;
    margin-top: var(--padding);
    display: flex;
    flex-direction: row;
}

button > i {
    margin-right: var(--padding-sm);
}

a {
    text-decoration: none;
}